<script type="text/template" id="home-template">
    <div id="welcome-container" class="alpha block seven columns">
        <h1><%= message %></h1>
        <p>This is loading from home.tmpl template.<br/>Resize the page to test the media queries.</p>
    </div>
</script>
