h3{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: -1px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: right;
}
.container{padding: 60px;}
/* .columns{background-color: pink;} */
/*.columns .columns{background-color: orange;}*/

.title{clear: left;}
.container label{
    /* background-color: yellow; */
    text-align:  right;
}
select{
    width: auto;
    display: inline;
}
#menu ul{
    text-align: right;
}
/* Note: Design for a width of 320px */
@media only screen and (max-width: 767px) {
    h3{text-align: center; margin-bottom: 0;}
    .container{padding: 10px;}
    .container label{
        text-align:  left;
    }
    label{padding-bottom: 5px;}
    button{float: right;}
        #menu ul{text-align: center;}
    #menu ul li{
        display: inline;
    }
}
